.text{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
}
.tabs{
    display: inline-flex;
    margin-right:20px;
}
.tabs em{
    font-weight: 300;
    font-style: normal;
}
.tab-select{
    text-align: right;
}
.intro{
    text-align: center;
    height:70vh;
}
.intro-text{
    margin-top: 35vh;
    font-size: 36px;
}
.intro-text em{
    font-style: normal;
    font-weight: 300;
}
.coffee-pic{
    height:auto;
    max-height: 700px;
    min-width: 570px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 560px;
}
.about{
    display: inline-flex;
}
.about-text{
    min-width: 350px;
    margin-left: 7vw;
    margin-right: 7vw;
}
.about-heading{
    margin-top: 2px;
    font-size: 40px;
}
.about-body{
    font-size: 26px;
}
.project-tiles{
    display: grid;
    grid-template-columns: auto auto auto;
}
.single-tile{
    margin: 25px;
    text-align: center;
}
.project-photo{
    max-height: 425px;
    max-width: 425px;
    height: auto;
    width: 90%;
    min-width: 375px;
    min-height: 375px;
}
.project-text{
    margin-top: 10px;
    font-size: 20px;
}
@media screen and (max-width:1060px) {
    .about {
        flex-direction: column;
    }
    .about-text{
        min-width: none;
        margin-left: 50px;
        margin-right: 50px;
    }
    .coffee-pic{
        margin-left: auto;
        margin-right: auto;
    }
    .about-heading{
        text-align: center;
    }
}
@media screen and (max-width:1200px) {
    .project-tiles{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:800px) {
    .project-tiles{
        display: inline;
        justify-content: center;
        margin: 0px;
        width: 550px;
        height: 550px;
    }
    
}
.link-button{
    text-decoration: none;
    color:black;
}
.project-showcase-image{
    max-width: 800px;
    width: 45vw;
    max-height: 800px;
    min-width: 650px;
    margin-right: 70px;
}
.project-showcase{
    display: flex;
    margin-left: 52px;
    margin-right: 30px;
    margin-top: 60px;
}
.project-showcase-text{
    margin-left: 2vw;
    margin-right: 7vw;
}
@media screen and (max-width:1100px) {
    .project-showcase{
        flex-direction: column;
    }
    .project-showcase{
        justify-content: center;
        margin: 0px;
    }
    .project-showcase-text{
        margin-left: 10px;
    }
    .project-showcase-image{
        margin-left: 10px;
    }
}